/*-- Use For Custom Styling --*/
/* Colors
petrol: #072938;
light-petrol: #395e6f;
aqua: #1A788C;
purple: #6A1B3C;
*/ 

.btn-light-petrol {
  background-color: #395e6f;
  border-color: #395e6f;
  color: #ffffff;
}

.loader {
  background: #072938
}

@-webkit-keyframes LOADINGREV {
  0% { -webkit-transform: scale(0.5); transform: scale(0.5); background: #ffffff; }
  50% { -webkit-transform: scale(1); transform: scale(1); background: #072938; }
  100% { -webkit-transform: scale(0.5); transform: scale(0.5); background: #ffffff; }
}
@keyframes LOADINGREV {
  0% { -webkit-transform: scale(0.5); transform: scale(0.5); background: #ffffff; }
  50% { -webkit-transform: scale(1); transform: scale(1); background: #072938; }
  100% { -webkit-transform: scale(0.5); transform: scale(0.5); background: #ffffff; }
}

.navbar-top-default .navbar-nav .nav-link {
  color: #072938;
}

.rs-addon-beforeafter-after {
  background: #B2E5DE;
}

.slide-2 .rs-addon-beforeafter-after {
  background: #E286AF;
}

.slide-3 .rs-addon-beforeafter-after {
  background: #FFBB0C;
}

.awaza .tp-count:before {
  background: #072938;
}

.awaza .tp-bullet.selected .tp-count {
  color: #072938;
}

.overlay-menu {
  background-color: #072938;
}

.navbar-top-default {
  height: 120px;
}

.logo img.full {
  display: block;
  width: 170px;
  height: auto;
}

.logo img.minimal {
  display: none;
}

.fixed-menu .logo img.full {
  display: none;
}
.fixed-menu .logo img.minimal {
  display: block;
  width: 55px;
  height: auto;
}

.fixed-menu.nav-style.navbar-top-default .navbar-nav .menu__link.active {
  color: #072938;
}
.fixed-menu.nav-style.navbar-top-default .menu__item::before, .fixed-menu.nav-style.navbar-top-default .menu__item::after, .fixed-menu.nav-style.navbar-top-default .menu__link::before, .fixed-menu.nav-style.navbar-top-default .menu__link::after {
  background: #072938;
}

:root{
  --blue:#007bff;
  --indigo:#6610f2;
  --purple:#6f42c1;
  --pink:#E286AF;
  --red:#dc3545;
  --orange:#fd7e14;
  --yellow:#ffc107;
  --green:#28a745;
  --teal:#20c997;
  --cyan:#17a2b8;
  --white:#fff;
  --gray:#6c757d;
  --gray-dark:#343a40;
  --primary:#007bff;
  --secondary:#6c757d;
  --success:#28a745;
  --info:#17a2b8;
  --warning:#ffc107;
  --danger:#dc3545;
  --light:#f8f9fa;
  --dark:#343a40;
}